/* .image-category-mobile-silder {
    max-width: 100%;
    width: 238px;

} */
.swiper .image-category-mobile-silder {
    max-width: 100% ;

    width: 160px !important;
}
.link-text-category-mobile {
    color: black;
    font-family: 'Inter';
    /* padding-top: 71px; */
    font-size: 12px;
    background: white;
}

.category-dev-img-section-mobile {
    text-align: left;
    margin-top: 8px;
    margin-bottom: 12px;
    margin-left: 9px;
    font-size: 11px;
}
.swiper-slider-mobile-category{
display: flex ;
background: none !important;
}

.my-swiper-mobile-category .swiper-button-next{
display: none !important;
}
.my-swiper-mobile-category .swiper-button-prev{
    display: none !important;
}
.image-container-category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
}


.swiper .swiper-pagination {
    position: absolute;
    text-align: center;
    transition: .3s opacity;
    transform: translate3d(0,0,0);
    z-index: 0;
}

.my-swiper-mobile-category .swiper-pagination-bullet {
    display: none;
  }
  