.ul-item-list-header {
  list-style: none; /* This removes the default bullet point style */
  display: flex; /* This sets the display property of the list to flex */
  justify-content: space-between; /* This evenly spaces out the list items horizontally */
  align-items: center; /* This centers the list items vertically */
  background-color: #f2f2f2; /* This sets the background color of the list */
  padding: 10px 20px; /* This adds some padding to the top and bottom of the list */
}

.ul-item-list-header li {
  margin: 0 20px;
}

.ul-item-list-header a {
  text-decoration: none; /* This removes the underline from the hyperlink */
  color: #333; /* This sets the color of the hyperlink text */
  font-size: 16px; /* This sets the font size of the hyperlink text */
  font-weight: bold; /* This sets the font weight of the hyperlink text to bold */
}
.header-mobile{
 
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    margin-bottom: -24px;
   
   

}