.banner-category-section {
    position: relative;
    min-height: 490px;
}
.banner-wrapper {
    /* position: relative; */
}

.catergory-grid-wrapper {
    position: absolute;
    width: 100%;
    bottom: -20px;
    z-index: 1;
}
