.homePage {
    background: #d9d9d9;
}

.banner-category-section {
    position: relative;
    min-height: 490px;
    margin-bottom: 30px;
}
.banner-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.banner-wrapper::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 58%;
    background: linear-gradient(to bottom, rgb(0 0 0 / 0%) 0%, #d9d9d9 100%);
    z-index: 2;
}

.catergory-grid-wrapper {
    position: absolute;
    width: 100%;
    /* bottom: -20%; */
    z-index: 2;
}

.products-grid-container {
    margin: 30px 47px 11px;
    max-width: 1750px;
}

@media screen and (max-width: 576px) {
    .catergory-grid-wrapper {
        /* position: unset; */
        /* bottom: unset;
        top: 75%; */
    }

    .products-grid-container,
    .product-type-container {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

@media screen and (max-width: 768px) {
    .banner-wrapper {
        max-height: 600px;
    }

    .banner-wrapper::before {
        height: 30%;
    }
}

@media screen and (max-width: 991px) {
    .catergory-grid-wrapper {
        /* bottom: unset;
        top: 23%; */
    }

    .products-grid-container {
        margin: 11px 47px;
    }
}

@media screen and (max-width: 1024px) {
    /* .catergory-grid-wrapper {
        position: unset;
        bottom: -15%;
    } */

    .products-grid-container {
        margin: 30px 30px 11px;
    }
}

@media (min-width: 1750px) {
    .products-grid-container {
        margin-left: auto;
        margin-right: auto;
    }
}
