.homePage {
    background: #d9d9d9;
}

.banner-category-section {
    position: relative;
    min-height: 490px;
    margin-bottom: 15px;
    max-width: 1500px;
    margin: 0 auto;
}
.banner-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.banner-wrapper::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 45%;
    background: linear-gradient(to bottom, rgb(0 0 0 / 0%) 0%, #d9d9d9 100%);
    z-index: 2;
}

.catergory-grid-wrapper {
    width: 100%;
    z-index: 2;
    position: relative;
    margin-top: -250px;
}

.products-grid-container {
    padding: 0 12px;
    background-color: white;
    margin: 15px auto 11px;
    max-width: calc(1450px);
}

.products-grid-container .products-grid {
    min-height: 300px;
}

.products-grid-container h3 {
    font-weight: 600;
    font-size: 16px;
    padding: 20px 30px 0;
}

@media screen and (max-width: 575px) {
    .catergory-grid-wrapper {
        margin: -80px auto 0 !important;
        width: calc(100% - 15px);
    }

    .products-grid-container,
    .product-type-container {
        margin-left: 10px !important;
        margin-right: 10px !important;
        padding: 0;
    }

    .banner-category-section {
        position: relative;
        min-height: 400px;
        margin-bottom: 15px;
    }
}

@media (min-width: 576px) {
    .banner-wrapper {
        min-height: 600px;
    }
}

@media screen and (max-width: 768px) {
    .banner-wrapper {
        max-height: 600px;
    }

    .banner-wrapper::before {
        height: 20%;
    }
}

@media screen and (max-width: 991px) {
    .catergory-grid-wrapper {
        margin-top: -100px;
    }

    .products-grid-container {
        margin: 11px 47px;
    }
}

@media screen and (max-width: 1024px) {
    /* .catergory-grid-wrapper {
        position: unset;
        bottom: -15%;
    } */

    .products-grid-container {
        margin: 15px 30px 11px;
    }
}
