.filterbar-section{
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid #DDDDDD;
}

.filterbar-button{
    height: 100%;
    display: flex;
    align-items: center;
    border-left: 1px solid #DDDDDD;
    padding: 5px 10px;
    color: #318243;
}

.button-div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 1px solid #DDDDDD;
    padding: 10px;
}

/* Mui class */
.mobile-filterbar-drawer .MuiDrawer-paper{
    border-radius: 20px 20px 0px 0px;
}