.checkout-page {
    background-color: white;
    width: 100%;
    height: 100%;
}

.checkout-header {
    width: 100%;
    background-color: #00305e;
    padding: 15px 50px;
}

.checkout-header-wrapper {
    width: 50%;
}

.checkout-header .logo-wrapper {
    width: 180px;
    height: 62px;
    max-width: 90%;
}

.checkout-header .logo-wrapper img {
    width: 100%;
}

.checkout-header-wrapper .items-number {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkout-header-wrapper .items-number h3 {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 0;
    color: white;
}

.checkout-page-inner {
    width: 83%;
    margin-left: 135px;
    padding-left: 33px;
    /* margin: 39px auto; */
    margin-top: 31px;
    padding: 7px 0;
}
.checkout-page {
    background-color: white;
}

.checkout-page button:disabled {
    opacity: 0.4;
}

.checkout-page .shipping-details {
    padding: 5px !important;
}
.checkout-page .shipping-method-component-wrapper {
    margin-bottom: 35px;
}
.accordion-header h3 {
 
    font-size: 14px 
}
@media screen and (max-width:810px) {
    .checkout-header-wrapper {
        width: 100%;
    }.checkout-header-wrapper .items-number h3 {
  
        font-size: 11px;
        padding-right: 12px;
    }
    
}



@media screen and (max-width:470px) {
.checkout-header .logo-wrapper img {
    width: 60%;
}.checkout-header{
    padding: 0px;
}.checkout-page-inner {
    width: 336px;
   margin: 0px;
   padding: 0px;
}
}
@media screen and (max-width: 1041px) {
    .checkout-page-inner {
        /* width: 88%; */
        margin-left: 17px;
        margin: 20px auto;
        padding: 7px 0;
        /* padding-right: 0px; */
        /* margin-left: 45px; */
        /* margin-right: 19px; */
    }.shipping-method-container h3 {
    padding-top: 12px;
 
    color: #318243;
    margin-bottom: 18px;
    padding-left: 3px;
}
}

@media screen and (max-width:550px) {
  .accordion-header h3 {
        margin-left: 11px;
        font-size: 10px !important;
    }
    }


      @media screen and (max-width:300px) {
        .checkout-header .logo-wrapper {
            width: 149px;
            height: 46px;
         
            padding-top: 6px;
        }.accordion-header h3 {
            margin-left: 11px;
            font-size: 9px !important;
        }
        }
   