/node_modules
/public/hot
/public/storage
/public/assets
/public/js
/public/index.html
/public/config.json
/public/mix-manifest.json
/public/config.json
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/vendor
/public/mix-manifest.json
.env
/composer.lock
/dist
/package-lock.json
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

/public/sitemap/*

#storage/app/*
storage/logs/*
#storage/framework/*

