.quantity-container p {
    font-size: 12px;
    font-weight: 500;
    margin: 5px 0;
}

.quantity-inner {
    display: flex;
    align-items: center;
}

.quantity-button {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 25px;
    border: 1px solid lightgray;
    background-color: lightgray;
    color: white;
    padding-bottom: 3px;
}

.quantity-container input {
    border: 1px solid lightgray;
    height: 25px;
    width: 30px;
    padding-left: 11px;
    font-size: 12px;
}

.quantity-container input::-webkit-outer-spin-button,
.quantity-container input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.quantity-container input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
}
