.header {
    background: #eaeded;
}
.text-p {
    font-size: 10px;

    color: #333333;
}
.location-data-addres-side{
    font-size: 14px;
}
/* .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 88%;
    color: var(--bs-modal-color);
    pointer-events: auto;
    background-color: var(--bs-modal-bg);
    background-clip: padding-box;
    border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
    border-radius: var(--bs-modal-border-radius);
    outline: 0;
} */
.font-size-dialog-box-locations button{
font-size: 12px;
}
.location-header-text {
    font-weight: 500;

    font-size: 20px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}
.location-button {
    /* padding: 12px; */
    /* padding-right: 4px; */
    font-size: "18px";
    margin-top: "8px";
    color: "#333333";
    bottom: "8px";
    width: 327px;
    height: 38px;
    left: 579px;
    top: 349px;
    background: #38c056;
    border-radius: 10px;

    font-weight: 500;
    font-size: 12px;

    color: #ffffff;
    border: none;
    top: 4px;
    margin-top: 2px;
}
.drop:active {
    color: var(--bs-dropdown-link-active-color);
    text-decoration: none;
    background-color: var(--bs-dropdown-link-active-color) !important;
}

.button-box-locationmodel-button {
    box-sizing: border-box;
    width: 106px;
    height: 36px;
    /* left: 770px; */
    /* top: 415px; */
    background: #edfff1;
    border: 1px solid #52ac66;
    border-radius: 7px;
    margin-top: 2px;
    font-size: 12px;
    left: -12px;
    margin-left: -11px;
}

.button-input-fields-button {
    box-sizing: border-box;
    /* position: absolute; */
    width: 208px;
    height: 36px;
    left: 579px;
    top: 413px;
    background: #edfff1;
    border: 1px solid #52ac66;
    border-radius: 5px;
    font-size: 13px;
    outline: none;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    color: #333333;
}
.login-button-box-location-button {
    width: 326px;
    height: 32px;
    left: 16px;
    top: 109px;
    background: #38c056;
    border-radius: 10px;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #333333;
    font-size: 14px;
    color: #333333;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #ffffff;
    border: none;
}
.location-button-box-signin {
    padding-top: 10px;
    padding-bottom: 4px;
}
.hrozantel-hr-location-model h5 {
    display: flex !important;
    flex-direction: row !important;
    font-size: 13px;
    padding: 3px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;

    line-height: 12px;

    color: #333333;
}
.hrozantel-hr-location-model h5:before,
.hrozantel-hr-location-model h5:after {
    content: "";
    flex: 1 1 !important;
    border-bottom: 1px solid !important;
    margin: auto !important;
    color: #b1ceb7;
}

.login-button-box {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;

    color: #333333;
    font-size: 14px;
    margin-top: 8px;
    color: #333333;
    bottom: 8px;
}
.dropdown-button-box {
    text-align: left;
    color: black;
    box-sizing: border-box;
    max-width: 95%;
    width: 349px;
    height: 36px;
    left: 0px;
    top: 0px;
    border: 1px solid #000000;
    border-radius: 10px;
    background: white !important;
}
.dropdown-button-box::after {
    content: none;
}

.dropdown-menu.show {
    max-height: 400px;
    overflow-y: auto;
}

.done-button {
    width: 100%;
    min-width: 100px !important;
    height: 40px !important;
    background: #52ac66 !important;
    border-radius: 9px !important;
    color: white;
    font-size: 12px;
    border-color: aliceblue;
}

.done-button:hover {
    background-color: #38c056;
}
.done-button:active {
    background-color: #38c056 !important;
}
.done-button:focus {
    background: #52ac66;
}

.dropdown-button-box:hover {
    color: black;
}
.dropdown-button-box:active {
    background-color: transparent;
}
.menus-sets {
    width: 100%;
    position: absolute;
    inset: auto auto 0px 0px;
    width: 331px;
    transform: translate(0px, 43.75px);
}
.location-model .modal-content {
    width: 360px;
    /* height: 332px; */
    /* left: 63px; */
    /* top: 240px; */
    background: #ffffff;
    border-radius: 5px;
}
.location-model .header {
    margin-bottom: -10px;
    background: #eaeded;
}
.error-message-location-model {
    padding-top: 12px;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    /* color: #333333; */
    /* font-size: 14px; */
    /* color: #333333; */
    /* font-family: "Inter"; */
    /* font-style: normal; */
    /* font-weight: 500; */
    /* padding-bottom: 3px; */
}.error-message-location-model2{
    padding-top: 12px;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
}
