.refund-order-page .refund-header h3 {
    font-size: 28px;
    margin-bottom: 15px;
}
.refund-order-page .refund-header p {
    font-size: 16px;
}

.refund-order-page .refund-forms p {
    font-size: 12px;
}

.refund-order-page .refund-btn {
    width: 215px;
    height: 49px;
    border-radius: 5px;
    font-size: 14px;
}

.refund-order-page .refund-forms {
    max-width: 550px;
}

.refund-order-page .verify-otp {
    width: 135px;
    height: 49px;
    left: 166px;
    padding: 12px 25px 16px 25px;
    border-radius: 5px;
    font-size: 14px;
}

.order-details-container {
    border: 1px solid #dddddd;
    border-radius: 5px;
}

.refund-order-page .order-details-container table tr th > div {
    font-size: 14px;
    margin-bottom: 8px;
}

.refund-order-page .order-details-container table thead {
    width: 100%;
    background-color: #eeeeee;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.refund-order-page .order-details-container table.order-details-table {
    width: 100%;
}

.refund-order-page .order-details-container table tr th {
    width: 25%;
    padding-left: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
}

/* .refund-order-page .order-details-container td.order-item {
    width: 75%;
}
.refund-order-page .order-details-container td.order-summary {
    width: 25%;
} */

.refund-order-page .order-details-container .order-item .img-wrapper {
    width: 86px;
    height: 61px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.refund-order-page .order-details-container .order-item .img-wrapper img {
    width: 100%;
    height: 100%;
}

.refund-order-page .order-details-container .item-description {
    display: flex;
    align-items: center;
}

.refund-order-page .order-details-container .item-description p {
    font-size: 12px;
    color: #318243;
    margin-left: 5px;
}
.refund-order-page .order-details-container .item-description p:hover {
    text-decoration: underline;
}

.refund-order-page .order-details-container .horizontal-line {
    border-top: 2px solid #dddddd;
}

.refund-order-page .order-details-container .order-summary .key {
    padding: 8px 0;
}

.refund-order-page .order-details-container .order-summary .value,
.refund-order-page .order-details-container .order-summary .grand-total-row * {
    font-weight: 600;
}

.refund-order-page .login-section img {
    width: 98px;
    height: 98px;
}

.refund-order-page .login-section p {
    font-size: 18;
    font-weight: "600";
}

.refund-order-page .login-section button {
    font-size: 14px;
    font-weight: 600;
}
@media screen and (max-width: 575px) {
    .refund-order-page .order-details-container table tr th > div {
        font-size: 10px;
        margin-bottom: 8px;
    }
}
