.header-wrappar{
    display: flex;
    height: 50px;
    border-bottom: 1px solid lightgray;
    overflow: auto;
    padding: 0 20px;
}

.header-wrappar::-webkit-scrollbar{
    display: none;
}

.item{
    color: black;
    height: 100%;
    padding: 20px 45px;
    font-size: small;
    white-space: nowrap;
}

.item:hover{
    color: #E87E24;
    text-decoration: underline;
    cursor: pointer;
}