.sideMenu-container {
    top: 0;
    height: 100%;
    width: 350px;
    position: fixed;
    transition: all 0.35s ease-out;
    z-index: 4;
    background-color: white;
}

.sideMenu-wrapper {
    height: 100%;
    position: relative;
}

.sideMenu-close-btn {
    position: absolute;
    right: -5px;
    color: white;
    margin-top: 6px;
    font-size: 30px;
    border: 0;
    background-color: transparent;
}

.sidebarOverlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #0000005a;
    z-index: 3;
}

.sideMenu-inner {
    background-color: white;
    width: 320px;
    height: 100%;
    overflow-y: auto;
}

.sideMenu-header {
    background-color: #002549;
    color: white;
    padding: 25px 20px;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.sideMenu-header img {
    border-radius: 50%;
    width: 55px;
    height: 55px;
}

.sideMenu-header img.default-image {
    width: 40px;
    height: 40px;
}
.sideMenu-header a,
.sideMenu-header a :hover {
    color: white;
    text-decoration: none;
}

.sideMenu {
    padding: 25px 0;
}

.sideMenu h4 {
    font-weight: 700;
    font-size: 18px;

    padding: 0 20px;
}

.menu-list li {
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.menu-list li a {
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: black;
    width: 100%;
}
.menu-list li button {
    border: none;
    background: none;
    padding: 0;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    text-align: left;
}

.menu-list li .country-flag {
    width: 20px;
}

ul.menu-list {
    list-style: none;
    padding-left: 0;
}

.menu-list li:hover {
    background-color: #d3d3d396;
}
.mySwiper {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 585px) {
    .sideMenu {
        margin-bottom: 20px;
    }
}
