header {
    background-color: #232f3e;
    color: #fff;
    height: 80px;
    display: flex;
    justify-content: center;
  }
  
  .header-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    height: 50px;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
  }
  
  