.seeling-product-p {
        margin-top: 12px;
        margin-bottom: 12px;
        margin-left: 6px;
        font-weight: bold;
    
}
.seeling-product-p span {
    font-weight: bold;
    font-size: 15px;
}
.img-dev-selling-products {
    max-width: 100%;
    width: 238px;
}
.image-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .img-dev-selling-products {
    max-width: 100%;
  }
  .dev-image-name {
    display: flex;
    justify-content: space-around;
    margin-bottom: 8px;
}
.dev-image-name span{
    font-size: 12px;
}
.slick-slide {
  width: 170px !important;
}
.slick-next:before {
  color: rebeccapurple;
  content: '→';
}
.slick-prev:before, .slick-next:before {
  margin-top: -4px !important;
  font-family: 'slick';
  font-size: 41px !important;
  color: gray !important;
  line-height: 1;
  opacity: .75;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-next {
  right: -9px;
}