.seeling-product-p {
        margin-top: 12px;
        margin-bottom: 12px;
        margin-left: 6px;
        font-weight: bold;
    
}
.seeling-product-p span {
    font-weight: bold;
    font-size: 15px;
}
.img-dev-selling-products {
    max-width: 100%;
    width: 238px;
}
.image-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .img-dev-selling-products {
    max-width: 100%;
  }
  .dev-image-name {
    display: flex;
    justify-content: space-around;
    margin-bottom: 8px;
}
.dev-image-name span{
    font-size: 12px;
}

.slick-next:before {
  color: rebeccapurple;
  content: '→';
}
.slick-prev:before, .slick-next:before {
  margin-top: -4px !important;
  z-index: 99 !important;
  font-family: 'slick';
  font-size: 41px !important;
  color: gray !important;
  line-height: 1;
  opacity: .75;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 35px;
height: 80px;
top: 39px;
left: 1320px;
padding: 27px, 10px, 27.4px, 10.48px;
border-radius: 0px, 3px, 3px, 0px !important;
angle: -180 deg;

}
.slick-next {
  right: 0px !important;
}
.slick-prev, .slick-next {
  font-size: 0;
  z-index: 99;
  line-height: 0;
  /* left: 0px; */
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}
