.seeling-product-p {
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 6px;
  font-weight: bold;
}

.product-description .product-name {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3; /* Limit the number of displayed lines */
  line-height: 1.2rem; /* Adjust the line height as needed */
  font-size: 14px;
  color: #007185;
  margin: 10px 0px;
}

.seeling-product-p span {
  font-weight: bold;
  font-size: 15px;
}
.img-dev-selling-products {
  max-width: 100%;
  width: 238px;
}
.image-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img-dev-selling-products {
  max-width: 100%;
}
.dev-image-name {
  display: flex;
  justify-content: space-around;
  margin-bottom: 8px;
}
.dev-image-name span {
  font-size: 12px;
}

.slick-next:before {
  color: rebeccapurple;
  content: '→';
}

.recommund-dev-slider-sections-opps {
  position: relative;
}

.recommund-dev-slider-sections-opps .swiper-button-prev {
  color: black;
  background: #ffffff;
  padding: 40px 0px;
  position: absolute;
  top: 50%;
  /* translate: -50% -50%; */
  display: flex !important;
  border: 0.5px solid gray;
  border-radius: 4px;
  /* box-shadow: 1px 1px 0px gray; */
}
.recommund-dev-slider-sections-opps .swiper-button-next {
  color: black;
  background: #ffffff;
  padding: 40px 10px;
  position: absolute;
  top: 50%;
  right: 0;
  /* translate: 0% -50%; */
  display: flex !important;
  border: 0.5px solid gray;
  border-radius: 4px;
  /* box-shadow: -1px 1px 0px gray; */
  /* box-shadow:
    1px 1px 2px 0 rgba(0, 0, 0, 0.5),
    -1px -1px 2px 0 rgba(0, 0, 0, 0.5),
    0 1px 2px 0 rgba(0, 0, 0, 0.5); */
}
.recommund-dev-slider-sections-opps .swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: 'prev';
  font-size: 21px;
}
.recommund-dev-slider-sections-opps .swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: 'next';
  font-size: 21px;
}
.slick-prev:before,
.slick-next:before {
  margin-top: -4px !important;
  z-index: 99 !important;
  font-family: 'slick';
  font-size: 41px !important;
  color: gray !important;
  line-height: 1;
  opacity: 0.75;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 35px;
  height: 80px;
  top: 39px;
  left: 1320px;
  padding: 27px, 10px, 27.4px, 10.48px;
  border-radius: 0px, 3px, 3px, 0px !important;
  angle: -180 deg;
}
.slick-next {
  right: 0px !important;
}
.slick-prev,
.slick-next {
  font-size: 0;
  z-index: 99;
  line-height: 0;
  /* left: 0px; */
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

@media screen and (max-width: 575px) {
  .recommund-dev-slider-sections-opps .swiper-button-prev {
    display: none !important;
  }
  .recommund-dev-slider-sections-opps .swiper-button-next {
    display: none !important;
  }
}
