.products-grid-wrapper {
  position: relative;
}

.products-grid {
  background-color: white;
  margin-top: 20px;
}

.products-grid h3 {
  font-weight: 600;
  font-size: 16px;
  padding: 20px 30px 0;
}
.loader-functions-screen {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 450px) {
  .product {
    padding: 0px;
    padding-bottom: 11px;
  }
  .loader-functions-screen {
    position: relative;
    height: 100px;
    width: 100px;
    margin-left: 120px;
    margin-bottom: 44px;
    background-color: transparent;
  }
  
}
