.recommendation-container {
    background-color: white;
    padding: 40px 0;
    padding-top: 0;  
}

.recommendation-inner {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
.recommendation-container h3 {
    font-weight: 600;
    font-size: 16px;
    padding: 0 30px;
}

.recommendation-container .slider-wrapper {
    width: 94%;
    margin: 10px auto 50px;
}

.recommendation-container h3 {
    width: 94%;
    margin: 10px auto 50px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.recommendation-inner .product-details {
    margin-top: 35px;
}

.recommendation-inner .product-image img {
    max-height: 165px;
}

@media (max-width: 375px) {
    .recommendation-inner .product-image {
        padding-top: 72px;
    }
}

@media (max-width: 575px) {
    .recommendation-inner .product-details {
        padding: 0 15px;
    }

    .recommendation-inner .product-image {
        padding: 0;
    }

    .product-image img {
        max-height: 125px;
    }

    .recommendation-inner .product-details {
        margin-top: 0;
    }
}
