.cart-mein-dev {
    padding-top: 20px;
    padding-left: 65px;
    padding-right: 65px;
    padding-bottom: 4px;
}
.shop-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    font-family: "Inter";

    font-weight: 400;
    font-size: 28px;

    color: #000000;
}

.cartItem-image {
    max-width: 100%;
    margin-left: 10px;
    max-height: 150px;
}
.item-details {
    /* position: absolute; */
    width: 631px;
    height: 38px;
    left: 323px;
    top: 223px;

    font-family: "Inter";

    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #000000;
}

.price-heading {
    text-align: end;
    top: 223px;
    font-family: "Inter";

    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
.shopping-heading {
    margin-left: 10px;
    /* width: 191px; */
    /* height: 34px; */
    left: 122px;
    top: 154px;
    font-family: "Inter";

    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    color: #000000;
}
.item-list {
    font-family: "Inter";

    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    margin-left: -29px;
    color: #333333;
    list-style: none;
}
.item-capacity {
    font-weight: bold;
}
.item-stock {
    color: #318243;
}
.button-link {
    /* height: 30px; */
    font-family: "Inter";

    font-weight: 500;
    font-size: 13px;

    color: #318243;
    border: none;
    background: white;
    margin-right: 9px;
    border-left: 1px solid #318243;
    line-height: 0;
}
.selectbutton-option {
    /* box-sizing: border-box; */
    /* position: absolute; */
    /* width: 77px; */
    height: 37px;
    left: 0px;
    top: 0px;
    border: 1px solid #eaeded;
    border-radius: 10px;
    margin-right: 14px;
}
.shopping-heading {
    margin-bottom: 0;
}

.card p {
    margin-bottom: 0;
}
head:nth-child(2) {
    background-color: #000000;
}

.checkout-button-side {
    background-color: none;
    /* width: 391px; */
    /* margin-top: 12px;
    margin-left: 35px; */
    background: #38c056;
    border-radius: 10px;
    border-color: #38c056;
    height: 49px;
}
.card-checkout {
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}
.sub-title {
    /* margin-right: 172px; */
    margin-top: 10px;
    font-family: "Inter";

    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #000000;
}
.checkbox-paragraph {
    margin-right: 10px;
    font-family: "Inter";

    font-weight: 400;
    font-size: 12px;

    align-items: center;
    color: #333333;
}
.checkout-button {
    background-color: none;
    margin-top: 12px;
    /* margin-left: 35px; */
    background: #38c056;
    border-radius: 10px;
    border-color: #38c056;
    height: 49px;
    width: 403px;
    max-width: 99%;
}
.button-checkout-data {
    text-align: center;
}
.checkout-button:hover {
    background: #38c056;
}
.checkout-button:active {
    background: #38c056 !important;
}
.card-body-text {
    text-align: center;
    margin: 4px;
}
.cart-box {
    padding: 10px;
    margin-bottom: 10px;
}
@media screen and (max-width: 600px) {
    .item-details {
        font-size: 11px;
    }
}
@media screen and (max-width: 350px) {
    .cart-box {
        width: 239px;
        margin-left: -50px;
    }
    .shop-heading{
        font-size: 15px;
    }
}
@media screen and (max-width: 550px) {

    .shop-heading{
        font-size: 15px;
    }.price-heading{
        font-size: 15px;
    }
}