.review-card h4 {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #1270c4;
    margin-bottom: 3px;
}

.review-card p {
    font-weight: 400;
    font-size: 12px;
}

.item-card {
    display: flex;
    align-items: center;
    margin-top: 10px;
    flex-wrap: wrap;
    padding: 5px 0;
    border-bottom: 1px solid lightgray;
}

.item-card .img-wrapper img {
    max-width: 100%;
    max-height: 150px;
}

.item-card .img-wrapper {
    width: 20%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-detail {
    padding-left: 10px;
    width: 60%;
}

.review-card h6 {
    font-weight: 500;
    font-size: 12px;
}

.item-detail .price {
    color: #1270c4;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide the number input spinner arrows for Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.delivery-option {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

.delivery-option label {
    font-weight: 500;
    font-size: 12px;
    color: #318243;
    margin-left: 10px;
}

.delivery-option label span {
    color: black;
}

.delivery-option input {
    margin-top: 4px;
}

.review-done-btn {
    width: 240px;
    height: 39px;
    max-width: 95%;
    background: #38c056;
    border-radius: 8px;

    font-weight: 600;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border: 0;
}

@media screen and (max-width: 600px) {
    .item-card .img-wrapper {
        width: 200px;
        height: auto;
    }
    .item-detail {
        padding-left: 0;
        width: 100%;
    }
    .item-detail h6 {
        font-size: 10px;
    }
    .item-card {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
    }
}
