.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0px;
}
.product-similar {
  display: flex;
}
.product-similer-container {
  /* width: 30px; */
  margin-left: 0px;
}

/* new class for layout2 */
.product-image-layout2 {
  position: relative;
  height: 190px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

/* .product-image-grid-layout2 ::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #1860A3;
    background-color: #000;
    opacity: 0.03;
    width: 100%;
    height: 100%;
} */

.similar-items-heading {
  color: #0f1111;
  font-size: 14px;
  padding-top: 10px;
  font-weight: 700;
  line-height: 24px; /* 150% */
}
.heading-protection-plan {
  color: #0f1111;
  font-size: 17.719px;
  font-weight: 700;
  line-height: 24px;
}
.similar-item-card-container {
  display: flex;
  justify-content: space-around;
  width: 400px;
}
.info {
  display: flex;
}
.accordion-content {
  padding: 0px 15px;
  /* margin-top: 20px; */
  transition: 400px 0.3s ease-out;
  display: flex;
  flex-direction: column;
}
.active {
  max-height: 500px; /* Adjust as needed */
}
.accordion-content .title {
  color: #565959;
  font-size: 14px;
  font-weight: 400;
  margin-top: -10px;
}
.accordion-content h3 {
  color: #0f1111;
  font-family: Arial;
  font-size: 13.891px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
.accordion-content .details-of-protection {
  color: #0f1111;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.info img {
  width: 20px;
  height: 18.34px;
  margin-right: 10px;
}
.info p {
  font-size: 16px;
  font-weight: 400;
}
.protc-paln-option {
  border: 1px solid #d5d9d9;
  /* padding: 4px; */
}
.protc-paln-option div {
  display: flex;
}
.protc-paln-option p {
  font-size: 16px;
  padding-top: 5px;
}
.protc-paln-option button {
  border: none;
  background-color: white;
  color: #1270c4;
  font-size: 16px;
  /* margin-left: 35px; */
}
.protc-paln-option button:hover {
  font-size: 17px;
}
.product-grid {
  border-bottom: 1px solid lightgray;
}

.products-grid-wrapper * {
  text-decoration: none;
}
.btn-grp {
  display: flex;
  justify-content: space-between;
}
.btn-grp button {
  width: 296px;
  border-radius: 5px;
  font-size: 12px;
  padding: 9px 56px;
  border: 1px solid #1a8031;
  color: #1a8031;
  background-color: #fff;
}
.btn-grp .add-prot-btn {
  background-color: #1a8031;
  color: #fff;
  font-weight: 400;
}
.recommendation-container .swiper-button-next:after,
.recommendation-container .swiper-button-prev:after {
  font-size: 20px !important;
  font-weight: 700;
  color: gray;
}
.star-ratings {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  width: 100px;
  /* width: 100%; */
}
.product-image {
  /* width: 150px; */
  /* padding: 5px 0px 10px 0px;
    height: 135px;
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; */
}
.product-image1 {
  padding: 5px 0px 10px 0px;
  height: 135px;
  text-align: center;
  margin-bottom: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image-grid .product-badge {
  width: 150px;
  margin: 10px 0;
}

.sj-banner-similar-item {
  display: flex;
}
.sj-banner-similar-item p {
  padding-right: 10px;
  /* padding-left: 10px; */
  padding: 5px 10px;
  font-size: 12px;
  background-color: #0f1111;
  width: 100px;
  color: white;
}
.sj-banner-similar-item .for-styling {
  background-color: #fff;
  margin-top: 2px;
  margin-left: -17px;
  transform: skew(0, -25deg);
  width: 20px;
  height: 22px;
}

.product-image-grid .badge-text {
  width: 100%;
  padding-left: 0;
}

.image-wrapper-layout2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 67%;
  height: 75%;
}
.image-wrapper0 {
  width: 100%;
}

.product-details {
  text-align: left;
}

.product-details a {
  text-decoration: none;
}

.product-name {
  color: #333333;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  /* letter-spacing: -5em; */
  text-align: left;
  /* font-size: 14px; */
  /* color: #1270c4; */
  color: #333333;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
  margin: 20px 0 10px 0;
  line-height: 1.2rem;
}

.product-name:hover {
  color: #e87e24;
  cursor: pointer;
}

.product-deal {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.product-off-percentage {
  background: #52ac66;
  color: #ffffff;
  width: 40%;
  max-width: 100px;
  font-size: 12px;
  padding-left: 10px;
  border-radius: 3px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
}

.product-badge {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.badge-text {
  clip-path: polygon(100% 0, 76% 49%, 100% 100%, 0 100%, 0% 50%, 0 0);
  background: #e87e24;
  color: #ffffff;
  width: 60%;
  max-width: 200px;
  font-size: 12px;
  padding-left: 10px;
  margin-right: 20px;
}

.product-deal span {
  font-weight: 500;
  font-size: 12px;
  color: #6f6f6f;
}

.product-num-reviews {
  font-weight: 500;
  font-size: 10px;
  color: #1270c4;
}

.product-rating {
  display: flex;
  align-items: center;
  margin: 6px 0;
}

.product-prices {
  display: flex;
  align-items: center;
}

.product-original-price {
  color: #6f6f6f;
  font-size: 12px;
  text-decoration: line-through;
  font-weight: 500;
}
.model-data-products {
  font-family: Inter;
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  color: #666666;
}
.product-new-price {
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  font-size: 18px;
  font-weight: 500;
  /* color: #1270c4; */
  color: #333333;
  margin-left: 7px;
}

.product-delivery-charges {
  font-size: 12px;
  font-weight: 500;
  line-height: 14.52px;
  color: #6f6f6f;
}

.product-image-link-list-view {
  width: 20%;
}
.product-detail-list-view {
  width: 80%;
  padding-left: 10px;
}

.product-offer-label {
  /* color: #1860A3; */
  color: white;
  position: absolute;
  z-index: 2;
  top: 14px;
  left: 0;
  /* background-color: #1860A3; */
  padding: 6px;
  font-size: 12px;
  padding-right: 15px;
  font-weight: 700;
  clip-path: polygon(0 0, 100% 0, 79% 100%, 0 100%);
  /* min-width: 20%; */
}

.discount-with-coupon {
  /* margin-top: 3px; */
  margin: 5px 0px;
  display: flex;
}
.discount-label {
  background-color: black;
  color: white;
  padding: 6px;
  /* margin: 2px 0px; */
  font-size: 12px;
  width: fit-content;
}
.delivery-details-desktop-grid-view {
  margin-top: 0px !important;
}
.delivery-details {
  font-size: 12px;
  margin-top: 10px;
  /* line-height: 1.1rem; */
}

.list-view-details {
  font-size: 12px;
  /* padding: 0px 30px; */
  display: flex;
  /* align-items: flex-end; */
  justify-content: flex-end;
  width: 80%;
}

.extra-details-item {
  /* padding: 0px 30px; */
  width: 20%;
  /* text-align: end; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* For Mobile Devices  */
@media screen and (max-width: 575px) {
  .div-button-card-product {
    display: flex;
    justify-content: center;
    margin-bottom: 6px;
  }
  .product-details {
    display: block;
    /* margin: 12px; */
    padding: 12px;
    /* padding-left: 6px; */
    width: 100%;
    /* width: 150px; */
    max-height: 100%;
    background: #ffffff;
    /* border: 1px solid rgba(82, 172, 102, 0.4); */
    border-radius: 0px 0px 5px 5px;
    /* padding-right: 3px; */
    /* padding-bottom: 10px; */
  }
  .item-card-add-carditems-product-card {
    background: #28a343;
    color: white;
    margin-top: 14px;
    margin-bottom: -1px;
    font-family: 'Inter';
    font-style: normal;
    /* font-weight: 500; */
    padding-right: 3px;
    font-size: 12px;
    padding-left: 3px;
    line-height: 19px;
    height: 21px;
    /* display: flex; */
    /* align-items: center; */
    width: 100%;
    /* width: 141px; */
    text-align: center;
    border-radius: 7px;
  }
  .span.span-the-product-color-product {
    width: 132px;
    height: 57px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #111111;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
  .product-cart-name-mobile-screen {
    font-family: 'Inter';
    max-width: 85%;
    font-weight: 500;
    font-size: 14px;
    color: #111111;
  }
  .old-price-product-card {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-decoration-line: line-through;

    color: #333333;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
  }
  .product-new-price {
    font-size: 14px;
    /* color: #e87e24; */
  }
  .product-prices {
    display: flex;
    align-items: center;
    margin-left: -8px;
  }
  .off-sale-button-product-card {
    height: 22px;
    width: 66px;
    left: calc(50% - 52px / 2);
    top: 2px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #ffffff;
    background: black;
  }
  .off-sale-button-product-card span {
    color: #e87e24;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    margin-left: 4px;
  }
  .span-get-data-pagragraph-card {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #333333;
    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
    margin-top: 4px;
  }
  button.add-to-card-button-mobile-product {
    width: 115px;
    height: 32px;
    /* align-items: center; */
    /* padding: 8px 24px; */
    background: #28a343;
    border-radius: 100px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #ffffff;
    border: none;
    margin-top: 18px;
  }
  .product {
    /* display: inherit; */
    flex-direction: column;
    /* align-items: center; */
    /* padding: 10px; */
  }
  .dilvery-system-mobile-card-product {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;

    color: #333333;
  }
  .recommendation-container .swiper-button-next:after,
  .recommendation-container .swiper-button-prev:after {
    position: absolute;
    top: -32px;
  }
}

/* Small Tablets (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .css-1160xiw-MuiPaper-root-MuiDrawer-paper {
    width: 100%;
  }
}

/* Large Tablets (tablets, less than 992px) */
@media (max-width: 991.98px) {
}

/* Laptops and Monitors (desktops, less than 1200px) */
@media (max-width: 991px) {
  .product-page .product-rating {
    width: 130px;
    max-width: 100%;
  }
  .product-image-link-list-view {
    width: 40%;
  }
  .product-detail-list-view {
    width: 60%;
  }
}

/* X-Large devices (large desktops, less than 1400px) */
@media (min-width: 576px) and (max-width: 1399.98px) {
}

@media (max-width: 1399.98px) {
}
/* X-Large devices (large desktops, less than 1400px) */
@media (min-width: 1400px) {
  .product-rating {
    width: 85%;
  }
  /* .product-name{
        margin: 80px  0 30px 0;
        
    } */
}
