.account-page {
    margin: 0 auto;
    background-color: white;
    width: 100%;
    height: 100%;
}
.order-page{
    font-weight: 600;
    font-size: 12px;
}
.order-list-container{
    /* margin-top: -14px; */
    margin-left: -213px;
    margin-top: 2%
}
.no-acces-order-dev{
    
        justify-content: center;
        text-align: center;
        margin-left: -318px;
    
}
.account-page h3 {
    margin-top: 4px;
    font-weight: 400;
    font-size: 28px;
    /* margin: 30px 0 20px; */
    padding: 0 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 34px;
    color: #000000;
}

.account-page .account-options {
    /* justify-content: space-between; */
    margin-bottom: 40px;
}
.account-card a {
    text-decoration: none;
}
.account-page .account-card-inner {
    display: flex;
    border: 1px solid #dddddd;
    padding: 14px 7px;
    height: 100px;
}

.account-page a.account-card {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
}

.account-page .account-card .img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.account-page .account-card img {
    max-width: 54px;
    max-height: 54px;
}

.account-page .account-card p {
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 0;
}

.account-page .account-card h6 {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 4px;
}

.account-page .account-info {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    /* margin-top: 5px; */
}

.account-page .account-btn {
    font-weight: 600;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 5px;
    width: 132px;
    height: 43px;
}
.container-xl-order {
    padding-left: 218px;
    padding-right: 130px;
}
.order-search-bar-input{
    padding-top: 26px
}
/* Profile page  */

.profile-container .user-image-container p {
    font-weight: 600;
    font-size: 14px;
    text-align: center;
}

.profile-photo-container .image-wrapper {
    width: 145px;
    height: 145px;
    border-radius: 50%;
    background-color: white;
}

.profile-photo-container .user-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-photo-container img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.profile-container .change-profile-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.profile-container .change-photo-btn {
    /* display: inline-block; */
    background: #318243;
    color: white;
    cursor: pointer;
}

.profile-container .file-input-button-container {
    position: relative;
    cursor: pointer;
}

.profile-container input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.profile-container .delete-image-btn {
    background: white;
    border: 1px solid #d0d0d0;
}

.profile-photo-container .delete-image-btn svg {
    filter: invert(39%) sepia(75%) saturate(377%) hue-rotate(82deg)
        brightness(92%) contrast(89%);
}

.profile-container {
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.profile-photo-container p {
    font-weight: 400;
    font-size: 10px;
    margin-bottom: 0;
    line-height: 10px;
    color: #ff7171;
    margin-top: 10px;
    /* text-align: center; */
}

.profile-container .user-info-form label {
    display: block;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 10px;
}

.profile-container .user-info-form .input-wrapper {
    position: relative;
    margin-bottom: 20px;
}

.profile-container .user-info-form input,
.profile-container .user-info-form input::placeholder {
    font-weight: 600;
    font-size: 14px;
}

.profile-container .user-info-form input {
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    background: white;
    padding: 18px 10px;
    width: 100%;
}

.profile-container .user-info-form .edit-btn {
    background: none;
    border: 0;
    font-weight: 400;
    font-size: 14px;
    color: #1270c4;
    position: absolute;
    right: 10px;
    bottom: 20px;
}
.profile-container .user-info-form .update-btn {
    background: #318243;
    color: white;
    width: 100%;
}

.profile-container.security-form {
    max-width: 100%;
}

.profile-container .right-illustration {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.profile-container .right-illustration img {
    max-width: 90%;
}

.profile-container .user-info-container {
    max-width: 500px;
    margin: 30px auto 0;
}
/* .search-container {
    position: relative;
  }
  
  .search-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 20px;
    color: gray;
    cursor: pointer;
  } */
.search-input-order {
    padding-left: 20px;
    border-radius: 5px;
    border: 1px solid #318243;
    transition: border-color 0.3s;
   
        box-sizing: border-box;
        /* position: absolute; */
        width: 250px;
        height: 32px;
        left: 902px;
        top: 165px;
        border: 1px solid #318243;
        border-radius: 5px;
    
}
.button-order-dev{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px !important;
line-height: 17px;

}

.green {
    border-color: green;
}
.account-page .product-container {
    box-sizing: border-box;
    position: inherit;
    width: 100%;
    height: 241px;
    left: 318px;
    top: 320px;
    border: 1px solid #dddddd;
    border-radius: 8px;
    margin-bottom: 30px;
}
.orderType {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-right: 30px;
}

.orders-list-container {
    padding: 0 20px;
}
