/* #app {
    height: 100%;
  }
  html,
  body {
    position: relative;
    height: 100%;
  } */

body {
    /* background: #eee; */
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 20px;
    color: #000;
    margin: 0;
    padding: 0;
}

.mySwiper {
    width: 97%;
    height: 100%;
}
.swiper-wrapper {
    /* justify-content: space-between; */
    /* width: 40%; */
}

.banner-slider-section .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-slider-section .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    max-height: 600px;
    object-fit: fill;
}
.banner-slider-section .swiper-button-prev {
    color: #ffffff;
    top: var(--swiper-navigation-top-offset, 25%) !important;
    left: var(--swiper-navigation-sides-offset, 30px);
    z-index: 1 !important;
}
.banner-slider-section .swiper-button-next {
    color: #ffffff;
    top: var(--swiper-navigation-top-offset, 25%) !important;
    right: var(--swiper-navigation-sides-offset, 30px);
    z-index: 1 !important;
}
.banner-slider-section .swiper-button-next:after,
.banner-slider-section .swiper-button-prev:after {
    font-size: 35px !important;
    color: #0c1fa670;
}
@media screen and (max-width: 600px) {
    .banner-slider-section .swiper-slide img,
    .banner-slider-section {
        min-height: 450px;
    }
}
@media screen and (max-width: 576px) {
    .mySwiper {
        width: 100%;
    }

    .banner-slider-section .swiper-button-prev {
        left: var(--swiper-navigation-sides-offset, 10px);
    }
    .banner-slider-section .swiper-button-next {
        right: var(--swiper-navigation-sides-offset, 10px);
    }
}
