.most-demandind {
    font-family: "Roboto";

    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #318243;
    margin-top: -14px;
    margin-bottom: -5px;
}
.item-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    /* Color Secondary */

    color: #000000;
}
.product-page .heading {
    font-size: 25px;
    margin-right: 25px;
}

.fa {
    font-size: 25px;
}

.checked {
    color: orange;
    font-size: 12px;
}

.chek {
    font-size: 12px;
}

.product-page .product-rating {
    border: none;

    font-size: 12px;
    color: #07631c;
    padding: 0 6px;
    line-height: 1;
    /* margin-left: -60px; */
    background: white;
}
.product-page .product-rating1 {
    text-decoration: none;
    font-size: 12px;
    color: #07631c;
}
.product-page .product-rating:hover {
    color: #07631c;
}
.review {
    justify-content: space-between;
    display: inline-flex;
}
/* .star {
    margin-right: 19px;
} */
.hr-rorate {
    height: 0px;
    left: 781px;
    top: 239px;
    transform: rotate(45deg);
    height: 2px;
    background-color: black;
    border: none;
    border: 1px solid #07631c;
    transform: rotate(90deg);
}
.selling-button {
    width: 97px;
    padding: 8px !important;
    max-width: 100%;
    top: 0.01px;
    background: #000000;
    border-radius: 5px;
    color: white;
    font-family: "Roboto";
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
}
.hr-card-details {
    margin-top: 7px !important;
}
.selling-color {
    color: orange;
    font-family: "Roboto";

    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
}
.product-page .product-info {
    text-decoration: none;
    font-size: 12px;
    color: #07631c;
    padding: 0 6px;
    line-height: 1;
    border-left: 1px solid;
}
.product-page .product-info:hover {
    color: #07631c;
}
.moniter-data {
    margin-right: 80px;
}
.item-data {
    display: flex;
    margin-top: 4px;
    justify-content: space-between;
}
.size-text {
    font-size: 16px;
    padding: 0 6px;
}
.color-text {
    color: red;
}

.shipping-text {
    margin-bottom: -17px;

    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #333333;
}
.shipping-button {
    display: flex;
    justify-content: flex-start;
}
.my-button {
    background: white;
    border-color: white;

    font-weight: 400;
    font-size: 11px;
    border: none;
    line-height: 13px;
    /* background-color: #f2f2f2; */
    /* border-color: #f2f2f2; */
    color: #318243;
    width: 67px;
}

.content {
    display: flex;
}
.dropdown-details {
    margin-top: -11px;
    margin-left: -35px;
}
.more-styles {
    font-weight: 400;
    font-size: 11px;
    line-height: 1px;
    color: #333333;
}
.card-react {
    border: 0px;
    border-radius: -5px;
    height: 77px;
    max-width: 100%;
    /* font-family: 'Inter'; */
    /*  */
    /* font-weight: 400; */
    font-size: 12px;

    color: #000000;
    /* display: flex; */
    width: 176px;
    margin-right: 11px;
    margin-bottom: 9px;
    border-color: red;
}
.card-title1 {
    font-weight: 400;
    font-size: 14px;

    margin-bottom: 5px;
}
.card-text1 {
    color: red;
    font-size: 14px;
    margin-bottom: 5px;
    text-align: left;
}
.product-specs {
    list-style-type: none;
    /* display: block; */
    padding-left: 0;
    margin: 30px 0;
}

.item1 {
    font-weight: 700;
    font-size: 12px;

    /* color: #000000; */
    /* margin-bottom: 18px; */
    font-weight: bold;
    margin-right: 128px;
}
.item11 {
    font-weight: 700;
    font-size: 12px;

    /* color: #000000; */
    /* margin-bottom: 18px; */
    font-weight: bold;
    margin-right: 101px;
}
.item12 {
    font-weight: 700;
    font-size: 12px;
}
.items {
    font-weight: 400;
    font-size: 12px;

    /* Primary */

    color: #333333;
}

/* .vertical-line::before {
    content: "";
    display: inline-block;
    border-left: 1px solid #07631c;
    height: 8px;
    color: #07631c;
} */
.res {
    display: flex;
}
.ui-list-items {
    list-style-type: decimal;

    font-weight: 400;
    font-size: 12px;

    /* Primary */

    color: #333333;
}
.items-text-style {
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 20px;
}

.button-detail-item {
    color: #6f6f6f;
    border: 1px solid #6f6f6f;
    padding: 4px !important;
    display: inline-block;
    width: 120px;
    line-height: 3px;
    /* text-align: center; */
    margin-left: 11px;
    margin-right: 8px;
    min-width: 110px;
}

.hr {
    margin: none !important;
}
.list-style-margin {
    padding: 0 0px;
}

.product-specs li {
    margin: 5px 0;
}
.img-text-color-details {
    color: #07631c;
}
.color-text-cart {
    color: red;
}
.size-text-details {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
}
.color-text-cart {
    color: red;
}

.items-details-description li {
    font-weight: 400;
    font-size: 12px;
    margin: 10px 0;
}

.details-dev {
    margin-left: 7px;
}

@media screen and (min-width:860px) and (max-width:980px)  {
    .product-page .product-info {
        margin-right: 69px;
        text-decoration: none;
        font-size: 12px;
        color: #07631c;
        padding: 0 6px;
        line-height: 1;
        border-left: 1px solid;
    }
    .details-dev {
        margin-right: 29px;
    }
}

@media screen and (max-width: 880px) {
    .item-title {
        font-size: 12px;
    }
    .res {
        text-align: center;
    }
    .instock-detail {
        display: flex;
        justify-content: center;
    }
    .cart-details-text {
        text-align: center;
    }
    .content {
        justify-content: center;
        display: flex;
    }
    .more-styles {
        text-align: center;
    }
    .text-box-details {
        display: flex;
        justify-content: center;
    }
    .list-style-margin {
        margin-top: 0px !important;
    }
}
@media screen and (min-width:768px) and (max-width:860px)  {
    .details-dev{
        display: flex;
    }.items-list-data-mobile-stayle {
        display: flex;
        margin-top: 6px;
    }
    
    
    }
    @media screen and (max-width: 750px) {
        .color-text-cart {
            color: red;
            text-align: center;
        }
    }
    @media screen and (min-width:600px) and (max-width:768px)  {
        .details-dev{
            display: flex;
        }.items-list-data-mobile-stayle {
            display: flex;
            margin-top: 6px;
        }
        
        
        }

@media screen and (max-width: 600px) {
    .items-list-data-mobile-stayle {
        display: flex;
        /* margin-right: 74px; */
        margin-left: 7px;
    }
    .product-page .product-info {
        margin-left: -7px;
        /* padding-right: 39px; */
        text-decoration: none;
        font-size: 12px;
        color: #07631c;
        padding: 0 6px;
        line-height: 1;
        border-left: 1px solid;
    }
    .details-dev {
        display: flex;
        margin-left: 7px;
        margin-bottom: 9px;
    }
    @media (max-width: 576px) {
        .instock-detail {
            display: none !important;
        }.star-alignment-gride{
            margin-left: -47px;
        }.selling-button{
            margin-left: -45px;
        }.product-page .product-rating {
            width: 130px;
            margin-left: 33px;
            max-width: 100%;
        }.size-text-details {
            font-weight: bold;
            font-size: 12px;
            line-height: 15px;
            padding-left: 35px;
        }.items-list-data-mobile-stayle {
            display: flex;
            /* margin-right: 74px; */
            margin-left: 41px;
        }.details-dev {
            display: flex;
            margin-left: 4px;
            margin-bottom: 9px;
        }.deatisl-data-set-image-view-data-details{
            margin-top: -13px;
        }.color-card-text-paragrap-payment{
            display: flex;
        }
    }
}
@media screen and (max-width: 600px) {
    .product-specs {
        padding-left: 0;
        border: 1px solid rgba(82, 172, 102, 0.4);
    }
    .size-text-details {
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
    }
    .product-page .product-info {
        text-decoration: none;
        font-size: 12px;
        color: #07631c;
        padding: 0 6px;
        line-height: 1;
        border-left: 1px solid;
    }
}
@media screen and (max-width: 450px) {
    .item-title {
        line-height: 1.5;
    }
}

@media screen and (min-width: 450px) {
    .divsection {
        display: none;
    }
}
