.items-card-data {
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
}
.price-item {
    text-align: end;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
@media screen and (max-width: 700px) {
    .cartItem-image {
        width: 44%;
    }
}
@media screen and (max-width: 600px) {
    .item-details {
        font-size: 11px;
    }
}
