.items-card-data{
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
  
}
.price-item{
  text-align: end;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #000000;

}