.whatwedo-page-alignment-page{
height: 244px;
}

.div-container-font-alignment-whatwedo-page {
    display: flex;
    /* justify-content: center; */
    padding-top: 29px;
    margin-left: 21px;
}
.div-container-font-alignment-whatwedo-page span{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #E0BC00;
}
.position-image-data-what-todo-page {
    padding-left: -50px;
    width: 100%;
    z-index: 2;
    position: relative;
    /* margin-top: -164px; */
    /* position: absolute; */
    top: 35px;
    right: 80px;
    /* left: -111px; */
    z-index: 1;
    width: 300px;
    background-color: red;
    height: 300px;
    background: #E7FFEC;
}
.blog-about-position-my-what-todo-image img {
    height: 372px;
    margin-bottom: 29px;
    position: relative;
    width: 100%;
    width: 1010px;
    max-width: 100%;
}

@media screen and (max-width:600px) {
    .position-image-data-what-todo-page {
       
        right: 9px;
       
    }.blog-about-position-my-what-todo-image img {
       
        /* max-width: 100%; */
    }
}