.alignment-container {
  position: relative;
}
.align-to-end {
  /* justify-self: flex-end; */
  position: absolute;
  right: 0;
  top: 0;
  /* float: right; */
  /* background-color: aqua; */
}

.sub-category-link {
  text-decoration: none;
  color: black;
}

.sub-category-link:hover {
  color: #e87e24;
  text-decoration: underline;
}

.review-lines {
  cursor: pointer;
}

.review-lines:hover {
  color: #e87e24;
  text-decoration: underline;
}
