.first-section {
    margin: 11px;
}
.div-section {
    border: 1px solid black;
    border-radius: 5px;
    padding: 8px;
    margin: 33px;

    left: 47px;
    top: 415px;
    height: 374px;
    width: 600px !important;
    background: #ffffff;
    border-radius: 5px;
    border: 1px solid black;
}
.div-img-4 img {
    height: 200%;
    width: 20%;
    object-fit: cover;
}
.product-section {
    height: 84%;
    width: 100%;
    background-color: white;
    /* border: 1px solid #ddd; */
    /* padding-bottom: 12px; */
    /* text-align: center; */
    margin: 19px;
}

/* .product-section .container {
    height: 400px;
} */
.h4-heading{
        padding-top: 6px;
        /* margin-top: 23px !important; */
  
}

.product-section h4 {
    text-align: left;
    padding-left: 20px;
    font-weight: 600;
    font-size: 18px;
  
}

.product-section img {
    max-width: 100%;
}
.product-section-advertisment {
    margin-left: 9px;
    /* height: 57%; */
}

.advertisement-heading {
    margin-left: 6px;
    background-color: white;
    padding-bottom: 20px;
    border: 1px solid #ddd;
    text-align: center;
    width: 95%;
    height: 58%;
    margin-top: 18px;
    margin-bottom: 14px;
}
.advertisement-heading h4 {
    text-align: left;
    margin: 20px 0 30px 0;
    padding-left: 20px;
    font-weight: 600;
    font-size: 18px;
}

.button-save {
    height: 55px;
    width: 90%;
    margin: 0 auto;
    background: #38c056;
    border-radius: 10px 10px 0px 0px;
    color: white;
    border: 0;
}

.advertisment-img {
    height: 79%;
    width: 95%;
}
.product-section h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.product-section p {
    font-weight: 400;
    font-size: 12px;
    padding-left: 18px;
    /* margin-top: 19px; */
}

/* .product-section span {
    font-weight: 400;
    font-size: 12px;
    text-align: left;
    padding-left: 18px;
} */
.dynamic-image{

}
.section-text{
    margin-top: 62px !important;
}

  .text-shop{
    margin-top: 57px !important;
  }
  @media screen and (max-width: 1024px) {
    .product-section {
      height: 86%;
      width: 100%;
      background-color: white;
      /* border: 1px solid #ddd; */
      /* padding-bottom: 12px; */
      /* text-align: center; */
      margin: 19px;
  }
    }
@media screen and (max-width: 425px) {
    .product-section {
        height: 91% !important;
        
    }
  }