.div-section{
 
  
    border: 1px solid black; 
    border-radius: 5px; 
    padding: 8px; 
    margin: 33px;

left: 47px;
top: 415px;
height: 374px; 
width: 600px !important;
background: #FFFFFF;
border-radius: 5px;
border: 1px solid black;
}.div-img-4 img{
    height: 200%;
  width: 20%;
  object-fit: cover;
}
.product-section {
    height: 302px;
    background-color: #f7f7f7;
    padding: 20px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    text-align: center;
    margin: 35px;
    
    top: 0;
    left: 0;
}
  
  .product-section h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .product-section p {
    font-size: 16px;
    margin-bottom: 20px;
  }
 
