.sticky-filter-bar ul {
    padding-left: 0;
    list-style: none;
}
.sticky-filter-bar {
    position: absolute;
    /* padding: 5px 20px; */
    width: 250px;
    height: 100%;
    border-right: 1px solid lightgray;
    z-index: 3;
    overflow-y: auto;
    overflow-x: hidden;
}

.sticky-filter-bar .filters-list h4 {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.sticky-filter-bar .filters-list .filter-value {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 6px;
}

.sticky-filter-bar .filters-list {
    padding: 5px 20px;
}

.sticky-filter-bar .filters-list .filter-value .checkbox-container {
    display: inline-block;
    position: relative;
    padding-left: 19px;
    margin-bottom: 3px;
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
}

.sticky-filter-bar .filters-list .filter-value .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.sticky-filter-bar .filters-list .filter-value .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 13px;
    width: 13px;
    background-color: #eee;
    border-radius: 3px;
}

.sticky-filter-bar
    .filters-list
    .filter-value.checkbox-container
    input:checked
    ~ .checkmark {
    background-color: #2196f3;
}

.sticky-filter-bar .filters-list .filter-value .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.sticky-filter-bar
    .filters-list
    .filter-value
    .checkbox-container
    input:checked
    ~ .checkmark:after {
    display: block;
}

.sticky-filter-bar
    .filters-list
    .filter-value
    .checkbox-container
    input:checked
    ~ .checkmark {
    background: #52ac66;
}

.sticky-filter-bar
    .filters-list
    .filter-value
    .checkbox-container
    .checkmark:after {
    left: 5px;
    top: 2px;
    width: 4px;
    height: 7px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.sticky-filter-bar .filters-list .filter-value button {
    background: none;
    border: none;
    margin: 10px 0;
    padding: 0;
    color: #52ac66;
}
.sticky-filter-bar .filters-list .filter-value button span {
    font-size: 14px;
    font-weight: 700;
}

.sticky-filter-bar h3 {
    font-size: 16px;
    font-weight: 600;
}
.radio-container input[type="radio"]:checked + .checkmark::before {
    background-color: green;
}

.radio-container input[type="radio"]:checked + .checkmark::after {
    background-color: green;
}

.sticky-filter-bar .filters-list .filter-value .radio-container {
    display: inline-block;
    position: relative;
    padding-left: 19px;
    margin-bottom: 3px;
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
}

.sticky-filter-bar .filters-list .filter-value .radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.sticky-filter-bar
    .filters-list
    .filter-value
    .radio-container
    input:checked
    ~ .radiomark {
    background: #52ac66;
}

.sticky-filter-bar .filters-list .filter-value .radiomark {
    position: absolute;
    top: 0;
    left: 0;
    height: 13px;
    width: 13px;
    background-color: #eee;
    border-radius: 3px;
}
.sticky-filter-bar
    .filters-list
    .filter-value
    .radio-container
    input:checked
    ~ .radiomark:after {
    display: block;
}

.sticky-filter-bar
    .filters-list
    .filter-value
    .radio-container
    .radiomark:after {
    left: 5px;
    top: 2px;
    width: 4px;
    height: 7px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.sticky-filter-bar .filters-list .filter-value .radiomark:after {
    content: "";
    position: absolute;
    display: none;
}
.filter-button-category-page button {
    color: white;
    background: rgb(82, 172, 102);;
    border: none;
    width: 85px;
    height: 30px;
    margin-bottom: 7px;
    border-radius: 4px;
}
@media screen and (max-width: 585px) {
    .sticky-filter-bar {
        width: 0;
    }
    .sticky-filter-bar.active {
        width: 80%;
        top: 0;
        left: 0;
        background: white;
    }
}
