.product-reviews-section .view-all-images-btn {
    font-size: 14px;
    background-color: transparent;
    border: 0;
}

.product-reviews-section .view-all-images-btn:hover {
    text-decoration: underline;
    color: chocolate;
}

.product-reviews-section .swiper .all-reviews-image {
    max-width: 100%;
    border-radius: 6px;
    margin-bottom: 20px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-reviews-section .swiper button {
    width: 100%;
    height: 190px;
}

.product-reviews-section .review-card .review-author-image {
    width: 50px;
    height: 50px;
}

.product-reviews-section .review-card .review-author {
    font-size: 14px;
    font-weight: 400;
}

.product-reviews-section .review-card .review-title {
    font-size: 16px;
    font-weight: 600;
}

.product-reviews-section .review-card .review-location-time {
    font-size: 16px;
    font-weight: 400;
    color: #565959;
}

.product-reviews-section .review-card .verified-review {
    font-size: 14px;
    font-weight: 700;
    color: #e87e24;
}

.product-reviews-section .review-card .review-comment {
    font-size: 16px;
    font-weight: 400;
}

.product-reviews-section .review-card .review-report-btn {
    background: white;
    border: 0;
    border-left: 1px solid #7a7d7d;
    padding-left: 10px;
    margin-left: 10px;
    height: 15px;
    margin-top: 10px;
    color: #7a7d7d;
}

.product-reviews-section .review-card .review-helpful-btn {
    background: white;
    border: 1px solid #d5d9d9;
    box-shadow: 0px 2px 5px 0px #d5d9d980;
    width: 120px;
    height: 40px;
    padding: 1px;
    border-radius: 8px;
    border: 1px;
}
.add-new-review {
    padding: 40px;
}
.add-new-review .review-heading h5 {
    font-size: 24px;
}
.add-new-review .sj-computer-tags p {
    font-size: 16px;
    color: #727272;
}

.add-new-review .rating-review-star {
    display: flex;
}
.add-new-review .check-rating-star-review {
    margin-left: 35px;
    color: green;
}

.add-new-review .check-rating-star-review-name {
    margin-left: 6px;
    color: #007185;
}
.posted-policy-review {
    color: green;
    margin-left: 6px;
}
.add-new-review .text-area-rating-review-list textarea {
    margin-top: 10px;
    width: 935px;
    height: 254px;
    border-radius: 10px;
}

.text-area-rating-review-list textarea::placeholder {
    color: #999; /* Customize the color as needed */

    padding: 23px;
}
.add-new-review .preview-button-review {
    margin-top: 22px;
    display: flex;
    justify-content: end;
}

.preview-button-review .preview-product-list-button {
    height: 49px;
    background: none;
    padding: 0px;
    margin-right: 18px;
    border: 0px;
    color: #007185;
}
.preview-button-review .camera-button-review {
    background-color: #f2f3f6;
    border: 1px solid #aaaaaa;
    margin-right: 18px;
    padding: 12px;
    border-radius: 7px;
}
.preview-button-review .submit-review-button {
    width: 132px;
    height: 36px;
    border-radius: 6px;
    border: 1px solid #aaaaaa;
    background-color: #318243;
    color: white;
    height: 49px;
}
