.topBar {
    display: flex;
    justify-content: center;
    align-content: center;
    background: #110135;
    height: 40px;
    background: #002549;
}
.menuBar {
    display: flex;
    align-items: center;
    color: white;
    justify-content: flex-start;
    width: 100%;
}

.ullist {
    display: flex;
    flex-wrap: wrap;
}

.navIcon {
    width: 55px;
    display: flex;
    margin-right: 3rem;
    margin-left: 1.5rem;
    cursor: pointer;
}

.ullist {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.listitem {
    padding-left: 0px !important;

    margin-bottom: 0px !important;
    display: inline;
    color: white;
    padding-right: 30px;
}
.text-color {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #ffffff;
}
a:hover,
Link:hover {
    color: inherit;
    text-decoration: none;
}

.small-text-size {
    font-family: "Inter";
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 18px;
    color: #ffffff;
    padding-top: 5px;
}

.hover-effect-sets-topbar {
    border: 1px solid transparent;
    padding: 10px;
}
.hover-effect-sets-topbar:hover {
    border-color: white;
}
