.topBar {
    height: 4rem;
    display: flex;
    justify-content: center;
    align-content: center;
    background: #110135;
}
.menuBar {
    display: flex;
    align-items: center;
    color: white;
    justify-content: flex-start;
    width: 100%;
}

.ullist {
    display: flex;
    flex-wrap: wrap;
}

.navIcon {
    width: 55px;
    display: flex;
    margin-right: 4rem;
    margin-left: 1.5rem;
    cursor: pointer;
}

.ullist {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.listitem {
    padding-left: 0px !important;

    margin-bottom: 0px !important;
    display: inline;
    color: white;
    padding-right: 30px;
}
.text-color {
    color: white;
}
.small-text-size {
    font-size: 21px;
}
