.card-checkout {
    border: none;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: all 0.3s ease-in-out;
    
  }
  .sub-title{
margin-right: 172px;
margin-top: 10px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #000000;
  }
  .checkbox-paragraph {
    margin-right: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    align-items: center;
    color: #333333;
}
.checkout-button {
    background-color: none;
    width: 391px;
    margin-top: 12px;
    margin-left: 35px;
    background: #38C056;
    border-radius: 10px;
    border-color: #38C056;
    height: 49px;
}
  .checkout-button:hover{
    background: #38C056;
      
     
   }.checkout-button:active{
    background: #38C056 !important;
      
     
   }
  .card-body-text {
    text-align: center;
    margin: 4px;
}