.header-background{
    
    background:#00305E !important;
}.homepage-img{
width: 185px !important;
}.nav-text{
    color: white;
    padding-left: 23px;
}.searchbar-form{
   
width: 90%;
}.search{
    width: 90% !important;
}
.eng-dropdown{
    padding-left: 27px;
}.eng-button{
  
        background: #00305E;
        border: 0px;
        color: white;
        padding-top: 12px;
    
}.input-form-control{
    height: 60px;
}
.vector-cart{
    width: 30px;
   
}.ellipse{
    color: white;
    width: 20px;
    height: 50;
}.body{
    padding-top: 0px !important;
}
.boll-img{
 width: 25px;
padding-left: 6px;
}

