.header-background {
    background: #00305e !important;
}
.homepage-img {
    width: 185px !important;
}
.nav-text {
    color: white;
    padding-left: 23px;
}
.searchbar-form {
    width: 90%;
}
.search {
    width: 90% !important;
}
.eng-dropdown {
    /* padding-left: 27px; */
}
.eng-button {
    margin-left: 24px;
    background: #00305e;
    border: 0px;
    color: white;
    padding-top: 31px;
    /* margin-left: -160px; */
    margin-right: 28px;
}
.input-form-control {
    height: 60px;
}
/* .vector-cart{
    width: 25px;
   
}.ellipse{
    color: white;
    width: 20px;
    height: 50;
}*/
.body {
    padding-top: 0px !important;
}
.boll-img {
    width: 25px;
    padding-left: 6px;
}
.searchbar {
    margin-top: 5%;
}
/* Style to create scroll bar in dropdown */
.scrollable-dropdown {
    height: auto;
    max-height: 320px; /* Increase / Decrease value as per your need */
    overflow-x: hidden;
}
.search-inputgroup {
    width: 62%;
}

.all-button {
    color: #b8b8b9;
    /* position: absolute; */
    width: 60px;
    height: 63px;
    background: #ece8e8 !important;
    border-right: 1px solid #b8b8b9;
    border-radius: 5px 0px 0px 5px;
}

.all-button :hover {
    color: #b8b8b9;
    /* position: absolute; */
}
.all-button ::after {
    color: #b8b8b9;
    /* position: absolute; */
}
.search-logo {
    height: 62px;
}
.text-color-heading {
    padding-top: 14px !important;
    color: white;
    font-size: 12px;
}
.text-color-heading2 {
    list-style-type: none;
    color: white;
    font-size: 18px;
}
.dot {
    height: 25px;
    width: 28px;
    background-color: #ee9b38;
    border-radius: 50%;
    display: inline-block;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-payment iframe {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
}

.dropdown-cart {
    padding: 2px;
    /* position: relative; */
    /* width: 400px; */
    /* height: 200px; */
    /* border: 3px solid #73AD21; */
    /* margin-bottom: 80px;
    margin-right: 125px; */
}
.return-button {
    padding: 2px;
    position: relative;
    /* width: 400px; */
    /* height: 200px; */
    /* border: 3px solid #73AD21; */

    margin-right: 58px;
}

.order-button {
    background: #00305e;
    border: 0px;
    color: white;
    padding-top: 12px;
    /* margin-left: -78px; */
}
.icon-cart {
    /* margin-left: -10px; */
}
.ul-menu {
    margin: 18px;
    padding-left: 2rem;
}
.cart-text {
    color: white;
}
