.header-background {
    background: #00305e !important;
}
.homepage-img {
    width: 185px !important;
    max-width: 100%;
}
.nav-text {
    color: white;
    padding-left: 23px;
}

.navbar-brand {
    width: 10%;
    display: flex;
    justify-content: center;
}

.main-nav {
    width: 90%;
}

.header-position {
    width: 10%;
}
.searchbar-form {
    width: 90%;
}
.search {
    width: 90% !important;
}
.eng-dropdown {
    /* padding-left: 27px; */
}
.eng-button {
    background: #00305e;
    border: 0px;
    color: white;
    padding-top: 31px;
}
.input-form-control {
    height: 60px;
}
/* .vector-cart{
    width: 25px;
   
}.ellipse{
    color: white;
    width: 20px;
    height: 50;
}*/
.body {
    padding-top: 0px !important;
}
.boll-img {
    width: 25px;
    padding-left: 6px;
}
.searchbar {
    margin-top: 5%;
}
/* Style to create scroll bar in dropdown */
.scrollable-dropdown {
    height: auto;
    max-height: 320px; /* Increase / Decrease value as per your need */
    overflow-x: hidden;
}
.search-inputgroup {
    width: 65%;
}

.all-button {
    color: #b8b8b9;
    /* position: absolute; */
    width: 60px;
    height: 63px;
    background: #ece8e8 !important;
    border-right: 1px solid #b8b8b9;
    border-radius: 5px 0px 0px 5px;
}

.all-button :hover {
    color: #b8b8b9;
    /* position: absolute; */
}
.all-button ::after {
    color: #b8b8b9;
    /* position: absolute; */
}
.search-logo {
    height: 62px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.text-color-heading {
    padding-top: 14px !important;
    color: white;
    font-size: 12px;
}
.text-color-heading2 {
    list-style-type: none;
    color: white;
    font-size: 18px;
}
.dot {
    height: 28px;
    width: 28px;
    background-color: #ee9b38;
    border-radius: 50%;
    display: inline-block;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-payment iframe {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
}

.dropdown-cart {
    padding: 2px;
}
.return-button {
    padding: 2px;

    position: relative;
}

.order-button {
    background: #00305e;
    border: 0px;
    color: white;
    padding-top: 12px;
}

.ul-menu {
    margin: 18px;
    padding-left: 2rem;
}
.cart-text {
    color: white;
}

.nav-right {
    display: flex;
    width: 25%;
}

.nav-right > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
}

.nav-right > div:first-child {
    justify-content: left;
}

.nav-right > div:last-child {
    justify-content: right;
}
.box-overlay {
    /* position: fixed; */
    top: -276px;
    left: 150px;
    display: flex;
    max-width: 100%;
}

  .dev{
display: flex;

margin-bottom: 10px;

  }
  .not-add{
    font-size: 16px;
  }
  .items-no{
    font-size: 15px;
  }
 
.cart-item{
    font-size: 16px;
    margin-left: 80px;
    margin-top: -34px;
}
.img-dev{

        display: flex;
     
    
}
.deliver-text{
    
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 16px;

color: #B8B8B9;

}
.cart-button {
    border: 1px solid #B8B8B9;
    /* border-color: black; */
    margin-left: 105px;
    margin-right: 15px;
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #333333;
   
    background: #FFFFFF;
  
}

    
.cart-button:active{
    color: white;
    background: #52AC66;
}
.checkout-proced {
    background: #52AC66;
    border-radius: 8px;
    width: 230px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    height: 44px;
    margin-top: -5px;
}
.body-cart{
    margin-top: -40px;
    margin-left: 42px;
}
.icon-cart{
    background: #00305E;
}
.cart-dev-section{
    margin-top: -6px;
}
@media screen and (max-width: 991px) {
    .main-nav {
        width: 100%;
    }
}
