.dropdown-payment{
    position: absolute;
    width: 354px;
    height: 300px;
    left: 0px;
    padding: 2px;
    margin: 3px; 
    

}.product-section1 {
    margin-left: -166px;
    position: absolute;
    z-index: 9;
    width: 500px;
    height: 100%;
    background-color: #f7f7f7;
    padding: 2px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    text-align: center;
}
.text-left{
    text-align: center !important;
    font-size: 21px !important;
}
.ul-list {
    font-size: 16px;
    list-style: none;
    margin-left: -30px !important;
    text-align: initial;
}
.your-list{
        margin-left: 16px;
        text-align: left;
        font-size: 21px;
        margin-top: 4px;

}
.create-list {
    text-align: left;
    margin-left: 18px;
    font-size: 16px;
}

.login-button{
   
        height: 56px;
        width: 263px;
        margin: 4px;
    
}
.new-customer{
   
      font-size: 15px !important;
 
}
.dropdown-payment button {
    background-color: #00305E;
    color: white;
    padding: 9px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}