.gallery-container {
    /* background-color: aqua; */
    display: flex;
    /* min-height: 30rem; */
    width: 100%;
    flex-wrap: wrap;
    /* justify-content: center; */
    row-gap: 20px;
}

.images-container {
    display: flex;
    justify-content: center;
    /* width: auto; */
    flex-wrap: wrap;
    height: 9vw;
    /* margin: auto; */
    /* justify-content: space-evenly; */
}

.image-item {
    height: 100%;
    margin: 10px 5px;
    width: 9vw;
    background-size: cover;
}
