.gallery-container {
  /* background-color: aqua; */
  display: flex;
  /* min-height: 30rem; */
  width: 99%;
  flex-wrap: wrap;
  /* justify-content: center; */
  row-gap: 10px;
  margin: auto;
  height: 100%;
  overflow-y: auto;
}

.images-container {
  display: flex;
  justify-content: center;
  /* width: auto; */
  flex-wrap: wrap;
  height: 8vw;
  width: 12.5%;
  /* margin: auto; */
  /* justify-content: space-evenly; */
}

.image-item {
  height: 100%;
  margin: 10px 5px;
  width: 100%;
  background-size: cover;
}

.review-dialog .MuiDialog-paper {
  /* min-width: '65vw' !important; */
  min-width: 65vw;
  /* min-height: 70vh; */
}

@media screen and (max-width: 1100px) {
  .images-container {
    height: 12vmin;
    width: 20%;
  }
}

@media screen and (max-width: 900px) {
  .images-container {
    width: 25%;
    height: 16vmin;
  }
}

@media screen and (max-width: 500px) {
  .images-container {
    width: 50%;
    height: 32vmin;
  }
}
