.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    font-family: "Inter", sans-serif;
}

.product-grid {
    border-bottom: 1px solid lightgray;
}

.product-image {
    width: 100%;
    height: 135px;
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-image-grid {
    /* background-color: #f3f9ff; */
    height: 190px;
}

.product-image-grid .product-badge {
    width: 150px;
    margin: 10px 0;
}

.product-image-grid .badge-text {
    width: 100%;
    padding-left: 0;
}

.image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-image-grid img {
    width: 100%;
    max-width: 300px;
    max-height: 187px;
}

.product-image img {
    max-width: 100%;
}

.product-details {
    text-align: left;
}

.product-details a {
    text-decoration: none;
}

.product-name {
    font-size: 14px;
    color: #1270c4;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.product-name:hover {
    color: #e87e24;
    cursor: pointer;
}

.product-deal {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.product-off-percentage {
    background: #52ac66;
    color: #ffffff;
    width: 40%;
    max-width: 100px;
    font-size: 12px;
    padding-left: 10px;
    border-radius: 3px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
}

.product-badge {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.badge-text {
    clip-path: polygon(100% 0, 76% 49%, 100% 100%, 0 100%, 0% 50%, 0 0);
    background: #e87e24;
    color: #ffffff;
    width: 60%;
    max-width: 200px;
    font-size: 12px;
    padding-left: 10px;
    margin-right: 20px;
}

.product-deal span {
    font-weight: 500;
    font-size: 12px;
    color: #6f6f6f;
}

.product-num-reviews {
    font-weight: 500;
    font-size: 10px;
    color: #1270c4;
}

.product-rating {
    display: flex;
    align-items: center;
    margin: 4px 0;
}

.product-prices {
    display: flex;
    align-items: center;
}

.product-original-price {
    color: #6f6f6f;
    font-size: 12px;
    text-decoration: line-through;
    font-weight: 500;
}

.product-new-price {
    font-size: 18px;
    font-weight: 500;
    color: #1270c4;
    margin-left: 7px;
}

.product-delivery-charges {
    font-size: 12px;
    font-weight: 500;
    color: #6f6f6f;
}

/* For Mobile Devices  */
@media (max-width: 575.98px) {
}

/* Small Tablets (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
}

/* Large Tablets (tablets, less than 992px) */
@media (max-width: 991.98px) {
}

/* Laptops and Monitors (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}

/* X-Large devices (large desktops, less than 1400px) */
@media (min-width: 576px) and (max-width: 1399.98px) {
}

@media (max-width: 1399.98px) {
}
/* X-Large devices (large desktops, less than 1400px) */
@media (min-width: 1400px) {
    .product-rating {
        width: 70%;
    }
}
