.footer-section {
    background: #00305e !important;
}

.footer-section ul {
    padding-left: 0;
}
.herf-link {
    color: aliceblue;
}
.list-unstyled {
    text-align: initial !important;
}
.list-unstyle1 {
    text-align: initial;
    font-weight: 600;
    font-size: 15px;
    line-height: 30px;
    align-items: center;
    color: #ffffff;
    list-style-type: none;
}
.list-unstyle1 a:hover {
    color: white !important;
}
.list-unstyle2 a:hover {
    color: white !important;
}
.list-unstyle3 a:hover {
    color: white !important;
}
.list-unstyle4 a:hover {
    color: white !important;
}
.list-unstyle4 {
    text-align: initial;
    font-weight: 600;
    font-size: 15px;
    line-height: 21px;
    align-items: center;
    color: #ffffff;
    list-style-type: none;
    padding-top: 44px;
}
.list-unstyle2 {
    text-align: initial;
    font-weight: 600;
    font-size: 15px;
    line-height: 30px;
    align-items: center;
    color: #ffffff;
    list-style-type: none;
    padding-top: 50px;
}
.list-unstyle3 {
    text-align: initial;
    font-weight: 600;
    font-size: 15px;
    line-height: 30px;
    align-items: center;
    color: #ffffff;
    list-style-type: none;
}
.footer-data {
    padding: 23px;
}
.copywrite {
    width: 361px;
}
.english-dropdown {
    padding-right: 10px;
}
.list-unstyle3 a:hover {
    color: wheat;
}
.list-unstyle4 a:hover {
    color: wheat;
}
.list-unstyle1 a:hover {
    color: wheat;
}
.list-unstyle2 a:hover {
    color: wheat;
}
.hr-line {
    top: 4px;
    width: 100%;
    height: 0px;
    border: 1px solid #17436d;
    margin-top: 58px;
}
.back-to-top-button {
    background: #002549;
    border: 0px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
}
.language-dropdown::after {
    display: none;
}
.back-to-top-hover-effct:hover {
    background-color: #17436d !important;
}
.back-to-top-hover-effct:hover button {
    background-color: #17436d !important;
}
@media screen and (max-width: 770px) {
    .footer-text-line-font-size {
        display: flex;
        justify-content: start;
    }
    .list-unstyle4 {
        padding-top: 0;
    }
    .list-unstyle2 {
        padding-top: 0;
    }
    .hr-line {
        margin-top: 0;
    }
}
