/* Tawk.css */
.custom-chat-button {
  position: fixed;
  bottom: 60px; /* Adjust this value as needed to prevent overlap with your mobile icon button */
  right: 20px;
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.custom-chat-overlay {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
