/* @import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800"); */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

* {
    box-sizing: border-box;
}
body {
    min-height: 100vh;
}

body * {
    font-weight: 400;
    font-family: "Inter", sans-serif;
    line-height: 1;
}
h1,
h2,
h3,
h4,
h5,
h6,
label,
span {
    font-family: "Inter", sans-serif;
}
/* 
 @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:  url("./assets/font/Inter\(400\).ttf") format("truetype");
  }

  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src:  url("./assets/font/Inter\(500\).ttf") format("truetype");
  }
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src:  url("./assets/font/Inter\(600\).ttf") format("truetype");
  }
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src:  url("./assets/font/Inter\(700\).ttf") format("truetype");
  }  */

.inner-body {
    min-height: calc(100vh - 600px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

@media screen and (max-width: 330px) {
    body {
        width: 369px !important;
    }
}

@media screen and (max-width: 450px) {
    .notification-toast {
        max-width: 90%;
        margin: 10px 5% 0;
    }
}

@media (max-width: 767px) {
    .inner-body {
        min-height: calc(100vh - 800px);
    }
}

@media (min-width: 1024px) {
    .inner-body {
        min-height: calc(100vh - 650px);
    }
}

@media (min-width: 1700px) {
    .inner-body {
        min-height: calc(100vh - 550px);
    }
}
