/* Tooltip.css */

.tooltip-container {
    position: relative;
    display: inline-block;
}

.tooltip {
    position: absolute;
    top: 100%;

    transform: translateX(-50%);
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    padding: 15px 0;
}

.tooltip-container:hover .tooltip {
    opacity: 1;
    visibility: visible;
}
