.card-section-left {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    background-color: white;
    margin-top: 50px;
    max-width: 100%;
    margin-bottom: 12px;
}
.cart-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 13px;
    margin-top: 7px;

    /* Primary */

    color: #333333;
}
.head {
    display: flex;
    margin-bottom: -14px;
}
.buttion-details {
    border: 1px !important;

    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    border: none;
    color: #318243;
    border-color: #318243;
    padding-left: 0;
}
.color-card {
    margin-bottom: -7px;
    font-family: "Roboto";

    font-weight: 400;
    font-size: 14px;
    line-height: 13px;
    color: #318243;
    padding: 0;
    border: 0;
}
.selectbutton-option-button {
    border: 1px solid #eaeded;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
}
.button1 {
    color: white;
    bottom: 0%;
    background: #318243;
    border-radius: 20.5px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 318px;
    height: 54px;
}
.button2 {
    color: white;
    bottom: 0%;
    border-radius: 20.5px;
    background: #e87e24;
    display: flex;
    width: 318px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-cart-sell {
    margin: 15px;

    display: flex;
    justify-content: center;
    /* align-items: center; */
    background-origin: green;
    color: black;
    /* width: 294px; */
}
.button-text-button {
    /* margin-left: 101px; */
    /* padding-top: 7px; */
    border: none;

    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
}
.box-button1 {
    height: 77px;
    color: #6f6f6f;
    border: 1px solid #6f6f6f;
    padding: 10px;
    display: inline-block;
    width: 34%;
    text-align: center;
    margin-right: 21px;
}
.color-text-cart {
    color: red;
    padding: 11px;
    /* line-height: 8px; */
}
.mein-part {
    justify-content: center;
}

.item-card-add-text-details {
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: #000000;
}
@media screen and (max-width: 780px) {
    .color-card-dev {
        text-align: center;
    }
}
@media screen and (max-width: 780px) {
    .quantity-inner {
        justify-content: center;
    }
}
@media screen and (max-width: 780px) {
    .text-stock {
        text-align: center;
    }
    .color-text-cart {
        text-align: center;
    }
}

.item-card-add-text-details {
    position: relative;
    padding-top: 9px;
    margin-top: -44px;
    /* padding-left: 298px; */
    font-size: 10px;
}
